body {
    background-color: #000000;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
  }

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}